.login {
  position: relative;
  height: 100%;
  background: url("http://authors.appadvice.com/wp-content/appadvice-v2-media/2016/11/Netflix-background_860c8ece6b34fb4f43af02255ca8f225.jpg")
    center center no-repeat;
  background-size: cover;
}
.login__logo {
  position: fixed;
  left: 0;
  width: 9.375rem;
  object-fit: contain;
  padding-left: 1.25rem;
}
.login__button {
  position: fixed;
  right: 1.25rem;
  top: 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #e50914;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.25rem;
}
.login__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login__content {
  position: absolute;
  top: 30%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  z-index: 1;
  color: white;
  padding: 1.25rem;
  left: 0;
  right: 0;
}
.login__content > h1 {
  font-size: 3.124rem;
  margin-bottom: 1.25rem;
}
.login__content > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}
.login__content > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
/*form*/
.login__formSection {
  margin-top: 1.25rem;
}
.login__form > input {
  padding: 0.75rem;
  outline: none;
  height: 1.875rem;
  width: 30%;
  border: none;
  max-width: 18.75rem;
}
.login__formButton {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #e50914;
  color: white;
  font-weight: 600;
  padding: 1rem 1.25rem;
}
