.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;

  /*animations*/
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__container {
  display: flex;
  justify-content: space-between;
}
.nav__background {
  background-color: #111;
}
.nav__logo {
  object-fit: contain;
  width: 80px;
  position: fixed;
  left: 0;
  top: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.nav__avatar {
  object-fit: contain;
  width: 30px;
  height: 30px;
  position: fixed;
  right: 20px;
  cursor: pointer;
}
