.banner {
  height: 448px;
  position: relative;
  object-fit: contain;
  color: white;
}

.banner__content {
  padding-top: 150px;
  margin-left: 30px;
  height: 190px;
}
.banner__title {
  font-size: 3em;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  font-weight: 600;
  border-radius: 0.2vw;
  margin-right: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner__button:hover {
  color: #111;
  background-color: #e6e6e6;
  transition: all 0.2;
}
.banner__description {
  width: 45rem;
  line-height: 1.3;
  font-size: 0.8rem;
  max-width: 22.5rem;
  height: 5rem;
  padding-top: 1rem;
}
.banner__fade {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.6),
    #111
  );
}
